*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: radial-gradient(rgb(3, 15, 59),rgb(1, 6, 45));
}

body::-webkit-scrollbar{
  display: none;
}

.container{
  width: 30vw;
  height: 60vh;
  position: relative;
  perspective: 1000px;
}

.box{
  height: 200px;
  width: 200px;
  position: absolute;
  top: 100px;
  left: 100px;
  transform-style: preserve-3d;
  animation: animate 10s infinite;
  
}

@keyframes animate{
  0%{
    transform: rotateX(90deg) rotateY(-90deg);
  }
  10%{
    transform: rotateX(0) rotateY(-180deg);
  }
  25%{
    transform: rotateX(-180deg) rotateY(-180deg);
  }
  50%{
    transform: rotateX(180deg) rotateY(90deg);
  }
  75%{
    transform: rotateX(-90deg) rotateY(90deg);
  }
  100%{
    transform: rotateX(90deg) rotateY(-90deg);

  }
}

.card {
  width: 200px;
  text-align: center;
  height: 200px;
  padding-inline: 100px;
  color: white;
  background-color: rgba(39, 132, 239, 0.67);
  /* border: 1px solid white; */
  border-radius: 10px ;
  font-size: 32px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#front{
  background-image: url("/src/img/b1.jpg");
  transform: translateZ(125px);
  z-index: -300;
}
#back{
  background-image: url("/src/img/b2.jpg");
  transform: translateZ(-125px);
  z-index: -100;
}

#left{
  background-image: url("/src/img/b3.jpg");
  right: 150px;
  transform: rotateY(-90deg);
  z-index: -300;
}
#right{
  left: 150px;
  background-image: url("/src/img/b4.jpg");
  transform: rotateY(90deg);
  z-index: -300;
}
#top{
  bottom: 150px;
  background-image: url("/src/img/n1.jpg");
  transform: rotateX(90deg);
  z-index: -300;
}
#bottom{
  top: 150px;
  background-image: url("/src/img/n6.jpg");
  transform: rotateX(-90deg);
  z-index: -300;
}


